<form class="" action="/address" method="post">
  What's your address?<br>
  <input type="text" name="delivery_location" pattern="[a-zA-Z\s]{3,}" min="1" maxlength="25" required="required">
  <input type="submit" value="Submit">
  <input type="hidden" name="ingredients_array" value="<%= ingredients_array%>">
</form>
