<form class="" action="index.html" method="post">

<% all_ingredients.each do |ingredient|%>
  <div class="">
    <img src="https://placeimg.com/250/200/any">
    <div class="<%= ingredient%>">
      <%= ingredient%>
    </div>
  </div>
<% end %>"

</form>
