<form class="" action="/start_order" method="post">
  <h2>Please Select your ingredients</h2>

  <div class="size">
    <img src="https://placeimg.com/250/200/any">
    <div class="">
      <input type="radio" name="pizza_size" value="small" checked>Small</input>
      <input type="radio" name="pizza_size" value="medium">Medium</input>
      <input type="radio" name="pizza_size" value="large">Large</input>
    </div>
  </div>

  <div class="meats">
    <img src="https://placeimg.com/250/200/any">
    <div class="">
      <input type="checkbox" name="pizza_meat_pepperoni" value="pepperoni">Pepperoni</input>
      <input type="checkbox" name="pizza_meat_sausage" value="sausage">Sausage</input>
      <input type="checkbox" name="pizza_meat_chicken" value="chicken">Chicken</input>
    </div>
  </div>

  <div class="cheese">
    <img src="https://placeimg.com/250/200/any">
    <div class="">
      <input type="radio" name="pizza_cheese" value="regular" checked>Reqular</input>
      <input type="radio" name="pizza_cheese" value="3cheese">3 Cheese</input>
    </div>
  </div>

  <div class="veggies">
    <img src="https://placeimg.com/250/200/any">
    <div class="">
      <input type="checkbox" name="pizza_veggies_mushrooms" value="mushrooms">Mushrooms</input>
      <input type="checkbox" name="pizza_veggies_peppers" value="peppers">Peppers</input>
      <input type="checkbox" name="pizza_veggies_olives" value="olives">Olives</input>
    </div>
  </div>

  <div class="crust">
    <img src="https://placeimg.com/250/200/any">
    <div class="">
      <input type="radio" name="pizza_crust" value="regular" checked>Regular</input>
      <input type="radio" name="pizza_crust" value="thin">Thin Crust</input>
    </div>
  </div>

  <div class="sauce">
    <img src="https://placeimg.com/250/200/any">
    <div class="">
      <input type="radio" name="pizza_sauce" value="pizza_sauce" checked>Pizza Sauce</input>
      <input type="radio" name="pizza_sauce" value="bbq">BBQ</input>
      <input type="radio" name="pizza_sauce" value="ranch">Ranch</input>
    </div>
  </div>

<input type="submit" value="Continue">

</form>
