<form class="" action="/start_order" method="post">
  <h1>Please Select your ingredients</h1>

  <div class="size">
    <img src="https://placeimg.com/250/200/any">
    <div class="">
      <input type="radio" name="pizza_size">Small</input>
      <input type="radio" name="pizza_size">Medium</input>
      <input type="radio" name="pizza_size">Large</input>
    </div>
  </div>
  <div class="meats">
    <img src="https://placeimg.com/250/200/any">
  </div>
  <div class="cheese">
    <img src="https://placeimg.com/250/200/any">
  </div>
  <div class="veggies">
    <img src="https://placeimg.com/250/200/any">
  </div>
  <div class="sauce">
    <img src="https://placeimg.com/250/200/any">
  </div>
  <div class="crust">
    <img src="https://placeimg.com/250/200/any">
  </div>
</form>
