<h2>Please Select your ingredients</h2>

<h2>Size</h2>
<form class="" action="/start_order" method="post">
  <div class="ingredient3">
    <div class="">
      <label for="small">
        <img src="/pics/small.jpg">
      </label>
    </div>
    <div class="">
      <label for="medium">
        <img src="/pics/medium.jpg">
      </label>
    </div>
    <div class="">
      <label for="large">
        <img src="/pics/large.jpg">
      </label>
    </div>
    <div class="">
      <input id="small" type="radio" name="pizza_size" value="small" checked>Small</input>
    </div>
    <div class="">
      <input id="medium" type="radio" name="pizza_size" value="medium">Medium</input>
    </div>
    <div class="">
      <input id="large" type="radio" name="pizza_size" value="large">Large</input>
    </div>
  </div>
  <br>

  <h2>Meat</h2>
  <div class="ingredient3">
    <div class="">
      <label for="pepperoni">
        <img src="/pics/pepperoni.jpg">
      </label>
    </div>
    <div class="">
      <label for="sausage">
        <img src="/pics/sausage.jpg">
      </label>
    </div>
    <div class="">
      <label for="chicken">
        <img src="/pics/chicken.jpg">
      </label>
    </div>
    <div class="">
      <input id="pepperoni" type="checkbox" name="pizza_meat[]" value="pepperoni">Pepperoni</input>
    </div>
    <div class="">
      <input id="sausage" type="checkbox" name="pizza_meat[]" value="sausage">Sausage</input>
    </div>
    <div class="">
      <input id="chicken" type="checkbox" name="pizza_meat[]" value="chicken">Chicken</input>
    </div>
  </div>
  <br>

  <h2>Cheese</h2>
  <div class="ingredient2">
    <div class="item1">
      <label for="regular">
        <img src="/pics/regular_cheese.jpg">
      </label>
    </div>
    <div class="item2">
      <label for="cheese3">
        <img src="/pics/cheese3.jpg">
      </label>
    </div>
    <div>
      <input id="regular" type="radio" name="pizza_cheese" value="regular_cheese" checked>Reqular Cheese</input>
    </div>
    <div>
      <input id="cheese3" type="radio" name="pizza_cheese" value="cheese3">3 Cheese</input>
    </div>
  </div>
  <br>

  <h2>Veggies</h2>
  <div class="ingredient3">
    <div class="">
      <label for="mushrooms">
      <img src="/pics/mushrooms.jpg">
      </label>
    </div>
    <div class="">
      <label for="peppers">
      <img src="/pics/peppers.jpg">
      </label>
    </div>
    <div class="">
      <label for="olives">
      <img src="/pics/olives.jpg">
      </label>
    </div>
    <div class="">
      <input id="mushrooms" type="checkbox" name="pizza_veggies[]" value="mushrooms">Mushrooms</input>
    </div>
    <div class="">
      <input id="peppers" type="checkbox" name="pizza_veggies[]" value="peppers">Peppers</input>
    </div>
    <div class="">
      <input id="olives" type="checkbox" name="pizza_veggies[]" value="olives">Olives</input>
    </div>
  </div>
  <br>

  <h2>Crust</h2>
  <div class="ingredient2">
    <div>
      <label for="pan">
        <img src="/pics/pan_crust.jpg">
      </label>
    </div>
    <div class="">
      <label for="thin">
      <img src="/pics/thin.jpg">
      </label>
    </div>
    <div class="">
      <input id="pan" type="radio" name="pizza_crust" value="pan_crust" checked>Pan Crust</input>
    </div>
    <div>
      <input id="thin" type="radio" name="pizza_crust" value="thin">Thin Crust</input>
    </div>
  </div>
  <br>

  <h2>Sauce</h2>
  <div class="ingredient3">
    <div>
      <label for="sauce">
        <img name="pizza_sauce" src="/pics/pizza_sauce.jpg">
      </label>
    </div>
    <div>
      <label for="bbq">
      <img src="/pics/bbq.jpg">
      </label>
    </div>
    <div>
      <label for="ranch">
      <img src="/pics/ranch.jpg">
      </label>
    </div>
    <div>
      <input id="sauce" type="radio" name="pizza_sauce" value="pizza_sauce" checked>Pizza Sauce</input>
    </div>
    <div>
      <input id="bbq" type="radio" name="pizza_sauce" value="bbq">BBQ</input>
    </div>
    <div>
      <input id="ranch" type="radio" name="pizza_sauce" value="ranch">Ranch</input>
    </div>
  </div>
  <br><br>

<input class="submit" type="submit" value="Continue">
<input type="hidden" name="ingredients_array" value="<%= ingredients_array%>">

</form>
