<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hot Pizza Here</title>
  </head>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="/pics/pizza-slice.png">
  <body>

    <h1 id="main-header">
      <img onclick="window.location.href='/'" src="/pics/pizza-slice.png">
      Sam's Pizza Stop
    </h1>

      <%= yield %>

  </body>
</html>
