<h2>Your Pizza</h2>

<ul>
  <% ingredients_array.each do |ingredient|%>
    <li><%= ingredient%></li>
  <% end%>
  <li>$<%= price%>.00</li>
</ul>

<% if delivery_location%>
  <h2>Delivered to</h2>
  <%= delivery_location%>
<% end%>

<input class="submit" type="button" onclick="window.location.href='/'"value="Reset">
