<h2>Your Pizza</h2>

<ul>
  <% ingredients_array.each do |ingredient|%>
    <% if ingredient == "small" || ingredient == "medium" || ingredient == "large"%>
      <br>
    <% end%>
    <li><%= ingredient.gsub("_", " ")%></li>
  <% end%>
  <br>
  <li>Total is $<%= price%>.00</li>
</ul>
<div class="">
  <% if delivery_location%>
    <h2>Delivered to</h2>
    <%= delivery_location%>
  <% end%>
</div>
<br>
<input class="submit" type="button" onclick="window.location.href='/'"value="Reset">
