body{
  background-color: black;
  color: red;
  font-family: Comic Sans MS;
  line-height: 1.6em;
  margin: auto;
  font-size: 16px;
  width: 80%;
  text-align: center;
  padding-bottom: 10em;
}

#main-header{
  background: red;
  color: black;
  float: center;
  word-spacing: 1em;
  letter-spacing: .55em;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 2.4em;
  box-shadow: 10px 5px linear-gradient(bottom, black, red);
}

form > div > div > img {
  width: 200px;
  height: 150px;
}
form > div > div> div > img {
  width: 200px;
  height: 150px;
}

label > img{
  width: 200px;
  height: 150px;
}

#main-header img {
  width: 75px;
  height: 50px;
  float: left;
}

#main-header img.:hover {
  cursor: pointer;
}

.ingredient3 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.ingredient2 {
  display: grid;
  grid-template-columns: auto auto;
}

.submit {
  font-size: 20px;
  background-color: black;
  color: white
}

.submit:hover {
  background-color: red;
  cursor: pointer;
}

.delivery-container{
  content: center;
  width: 20%;
  margin: auto;
  text-align: center;
}

.delivery{
  border-style: double;
  border-width: medium;
}
form > div > div > input {
  background-color: red;
  height: 15px;
  width: 15px;
}

form > div > div > input:hover {
  cursor: pointer;
}
